<header class="app-header">
  <div class="left">
    <img src="assets/sprintoLogo.png" alt="Sprinto Logo" class="logo" />
  </div>

  <div class="center">
    <!-- <nav>
      <a href="#">Home</a>
      <a href="#">Chat with us</a>
      <a href="#">Settings</a>
    </nav> -->
  </div>

  <div class="right">
    <button *ngIf="!isLoggedIn" (click)="login()">Log In</button>

    <div *ngIf="isLoggedIn" class="icon-container">
      <span class="material-icons icon" (click)="goHome()">home</span>
      <span class="material-icons icon" (click)="goProfile()">account_circle</span>
      <span class="material-icons icon" (click)="goChat()">chat</span>
    </div>
  </div>
</header>
